<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seliote.fr.mapper.GoodsBrowseRecordMapper">

    <insert id="insert">
        INSERT INTO goods_browse_record(user_id, goods_id, jump_from)
        VALUES (#{mi.userId}, #{mi.goodsId}, #{mi.jumpFrom})
    </insert>
</mapper>